{% load humanize %} 

{% load static %}
{% get_static_prefix as directorio %}
<nav class="ink-navigation" data-offset-top="65px" data-offset-bottom="200px" id="forms_menu">
<div class="box">
    <div class="content-center">
        <img src='{{ directorio }}images/avatar.png'>
        <h3><span class="tooltip ink-label" data-tip-text="Editar" data-tip-where="mousefix" data-tip-color="blue"><a href="{% url 'info_personal' %}" class="ink-button blue" style="padding:0px 12px"><span class="icon-pencil"></span></a></span>{{ persona.primer_nombre }} {{ persona.primer_apellido }}</h3>
    </div>
    C.I.: {{ persona.cedula|intcomma }} <br />
    Género: 
	{% ifequal persona.genero 0 %}
	    Masculino
	{% else %}
	    Femenino
	{% endifequal %}
    <br />
    Dirección: {{ persona.direccion }}<br />
    Teléfono:
	    {% ifequal persona.tlf_contacto 'fijo' %}
		{{ persona.tlf_reside }}
	    {% endifequal %}
	    {% ifequal persona.tlf_contacto 'oficina' %}
		{{ persona.oficina }}
	    {% endifequal %}
	    {% ifequal persona.tlf_contacto 'movil' %}
		{{ persona.movil }}
	    {% endifequal %}
    <br />
    Estado civil:
	    {% ifequal persona.estado_civil 's' %}
		Solter{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
	    {% endifequal %}
	    {% ifequal persona.estado_civil 'c' %}
		Casad{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
	    {% endifequal %}
	    {% ifequal persona.estado_civil 'd' %}
		Divorciad{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
	    {% endifequal %}
	    {% ifequal persona.estado_civil 'v' %}
		Viud{% ifequal persona.genero 0 %}o{% else %}a{% endifequal %}
	    {% endifequal %}
    <br />
    Email: <a href="mailto:{{ persona.email }}">{{ persona.email }}</a>
    <br />

</div>
