{% include "base_ink.html" %}
{% block personales %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <body>

{% load static %}
{% load humanize %} 
 
  <!-- Main Page Content and Sidebar -->
  
<div class="ink-grid">
    {% include 'menu_perfil.html' %}

    <div class="space">
        <form class="ink-form" method="POST">{% csrf_token %}
            <div class="box">
                <div class="column-group" style="background:white">
                    <div class="space">
                        <fieldset class="column-group">
                            {{ mensaje }}
                        </fieldset>
                            <div>
                                <a href="{% url 'inicio' %}" class="ink-button blue">Volver al incio</a>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %} 

  </body>
</html>
{% endblock %}
