<!doctype html>
<html>
	<head>
        {% load i18n %}
        {% load static %}
        {% load compress %}
		{% get_static_prefix as directorio %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="Suscerte,seguridad,vencert,cenif,superintendencia,seguridad web,certificacion" />
		<meta name="description" content="Suscerte" />
        <link href="{{ directorio }}images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<title>{% block title %}.::SUSCERTE::.{% endblock %}</title>
        {% load admin_static %}{% load url from future %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- STYLESHEETS -->


        {% block extra_css %}{% endblock extra_css %}
        <link href="{% static "ink/css/ink.css" %}" rel="stylesheet">
        <link href="{% static "ink//css/docs.css" %}" rel="stylesheet">
	
        <script src="{% static "ink/js/ink-all.js" %} "></script>
        <script src="{% static "ink/js/ink.min.js" %} "></script>
        <script src="{% static "ink/js/ink-ui.min.js" %} "></script>
        <script src="{% static "ink/js/prettify.js" %} "></script>
        <script src="{% static "ink/js/autoload.js" %} "></script>
        <script src="{% static "js/jquery.min.js" %} "></script>

    <script type="text/javascript">
        setTimeout(function(){ document.getElementById('cerrar').click(); }, 5000); // 5 segundos
    </script>
	</head>
    <body>
        {% block personales %}{% endblock %}
    </body>
</html>
