<html>
	<head>
		{% load static %}
        {% load i18n %}
		{% get_static_prefix as directorio %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="Suscerte,seguridad,vencert,cenif,superintendencia,seguridad web,certificacion" />
		<meta name="description" content="Suscerte" />
        <link href="{{ directorio }}images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<title>{% block title %}.::SUSCERTE::.{% endblock %}</title>
		<!-- InstanceEndEditable -->
		<!-- InstanceBeginEditable name="head" -->
		{% block jquery %}
		    <script type='text/javascript' src='{{ directorio }}js/jquery-1.7.1.min.js'></script>
		{% endblock %}
        {% load compress %}
        {% compress css %}

		<script type="text/javascript">
      
			function MM_swapImgRestore() { //v3.0
				var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
			}
			function MM_preloadImages() { //v3.0
				var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
				var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
				if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
            }

			function MM_findObj(n, d) { //v4.01
				var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
				d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
				if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
				for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
				if(!x && d.getElementById) x=d.getElementById(n); return x;
			}

			function MM_swapImage() { //v3.0
				var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
				if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
			}	
		</script>
    
		<script>
		    jQuery(function(){
		      jQuery('#camera_wrap_2').camera({
				height: '345px',
				loader: 'bar',
				pagination: false,
				thumbnails: false
			});
		    });
		</script>

        {% endcompress %}
        <!-- InstanceEndEditable -->
        {% compress css %}
        <link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/style_desing.css" %}">
        <link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/style.css" %}">
        <link rel="stylesheet" id="camera-css" type="text/css" media="all"  href="{% static "css/camera.css" %}">
	<link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/form_sus.css" %}">
	<link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/main.css" %}">
	<link rel="stylesheet" type="text/css" media="screen"  href="{% static "css/jquery.steps.css" %}">

        {% endcompress %}

	</head>
	<body onload="MM_preloadImages('{{ directorio }}images/youtube_on.png','{{ directorio }}images/facebook_on.png','{{ directorio }}images/twitter_on.png','{{ directorio }}images/solicitud.jpg','{{ directorio }}images/btn_noticias_on.png')">
		{% block base_content %}{% endblock %}
		<div id="envoltorio">
		    {% block cabezera %}
		    <div id="est_fija">
                <div id="Contenido_encabezado">
                    <div id="Contenido_encabezado_top"></div>
                    <div id="Contenido_encabezado_sub">
			         <div id="redes_sociales">
                        <div id="social_icon">
                            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('youtube','','{{ directorio }}images/youtube_on.png',1)">
                            <img src="{{ directorio }}images/youtube.png" name="youtube" width="54" height="46" border="0" id="youtube" />
                            </a>
                        </div>
                        <div id="social_icon2">
                            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('facebook','','{{ directorio }}images/facebook_on.png',1)">
                            <img src="{{ directorio }}images/facebook.png" name="facebook" width="54" height="46" border="0" id="facebook" />
                            </a>
                        </div>
                        <div id="social_icon3">
                            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('twitter','','{{ directorio }}images/twitter_on.png',1)">
                            <img src="{{ directorio }}images/twitter.png" name="twitter" width="54" height="46" border="0" id="twitter" />
                            </a>
                        </div>
                         <div id="contenedor_buscador">
                             <div id="buscador">
                                 <script>
                                    (function() {
                                        var cx = '003611053801593137307:aoejis99q3e';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                            '//www.google.com/cse/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                          })();
                                    </script>
                                    <gcse:search></gcse:search>

                             </div>
                         </div>
		          </div>
		      </div>
            </div>

			<!--Incluyendo el Menu -->
			{% include "menu.html"%}
			<!-- Llamado a slider... -->
            {% block slider %}
                {% include "slider_.html"%}
            {% endblock %}
			<!-- InstanceEndEditable --> 
		    {% endblock %} <!--Fin block cabezera -->
            {% block curriculum %} {% endblock %}

			<div id="cont_enlances">
				<div id="enlances-main">
				<a href="http://www.presidencia.gob.ve" target="_new">
					<img src="{{ directorio }}images/presidencia_on.jpg"  width="95" height="67" border="0" id="Image24" />
				</a>
				</div>
				<div id="enlances-main">
				<a href="http://www.vicepresidencia.gob.ve" target="_new" >
					<img src="{{ directorio }}images/vice_on.jpg"  width="95" height="67" border="0" id="Image25" />
				</a>
				</div>
				<div id="enlances-main">
				<a href="http://www.mcti.gob.ve/" target="_new" >
					<img src="{{ directorio }}images/ministerio_on.jpg" width="95" height="67" border="0" id="Image26" />
				</a>
				</div>
				<div id="enlances-main">
				<a href="http://www.cantv.net/" target="_new" >
					<img src="{{ directorio }}images/cantv_on.jpg"  width="95" height="67" border="0" id="Image27" />
				</a>
				</div>
				<div id="enlances-main">
				<a href="http://www.fidetel.gob.ve/" target="_new" >
					<img src="{{ directorio }}images/movilnet_on.jpg"  width="95" height="67" border="0" id="Image28" />
				 </a>
				</div>
				<div id="enlances-main">
				<a href="http://www.conciencia.mcti.gob.ve/" target="_new" >
					<img src="{{ directorio }}images/red_on.jpg"  width="95" height="67" border="0" id="Image32" />
				</a>
				</div>
				<div id="enlances-main">
				<a href="http://www.cnti.gob.ve/" target="_new" >
					<img src="{{ directorio }}images/cnti_on.jpg"  width="95" height="67" border="0" id="Image30" />
				</a>
				</div>
				<div id="enlances-main">
					<a href="http://www.telecom.gob.ve/" target="_new" >
					<img src="{{ directorio }}images/telecom_on.jpg"  width="95" height="67" border="0" id="Image31" />
					</a>
						</div>
					</div>
					<div class="clearfloat"></div>
				<!-- InstanceEndEditable --> 
			</div><br/>

	    </div>
		    {% block footer %} 
			<div id="footer">
			    <div id="pie_pagina">

                <a title="Ver licencia" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.es_ES">
                    <img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a>
                <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
                    <img src="http://i.creativecommons.org/p/mark/1.0/88x31.png" style="border-style: none;" alt="Public Domain Mark" />
                </a>

                <a href="http://validator.w3.org/check?uri=http://www.suscerte.gob.ve">
                    <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
                </a>
                <a href="http://jigsaw.w3.org/css-validator/validator?uri=www.suscerte.gob.ve">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                        alt="Valid CSS!" />
                </a>
                            <br><br><br>
			    </div>
			</div>
		    {% endblock %}<!-- Fin block cabezera -->	
	    <script type="text/javascript">
		$(document).ready(function () {
		  $.noConflict();
		  jQuery('.bannercontainer').kenburn({
		      thumbWidth: 50,
		      thumbHeight: 50,
		      thumbAmount: 4,
		      thumbStyle: "both",
		      thumbVideoIcon: "off",
		      thumbVertical: "bottom",
		      thumbHorizontal: "center",
		      thumbXOffset: 0,
		      thumbYOffset: 40,
		      bulletXOffset: 0,
		      bulletYOffset: -16,
		      hideThumbs: "on",
		      touchenabled: 'on',
		      pauseOnRollOverThumbs: 'off',
		      pauseOnRollOverMain: 'on',
		      preloadedSlides: 2,
		      timer: 7,
		      debug: "off",
		      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		      //												 Google Fonts !!											 //
		      // local GoogleFont JS from your server: http://www.yourdomain.com/kb-plugin/js/jquery.googlefonts.js		 //
		      // GoogleFonts from Original Source: http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js or https:... // 
		      //			PT+Sans+Narrow:400,700																			//
		      /////////////////////////////////////////////////////////////////////////////////////////////////////////////
		      googleFonts: 'Oswald',
		      googleFontJS: '../script/jquery.googlefonts.js'
		      });
		 jQuery(window).load(function () {
		    jQuery('.tauto').addClass('selected');
		    jQuery('.tthumb').removeClass('selected');
		    jQuery('.tnone').removeClass('selected');
		    jQuery('.tbull').removeClass('selected');
		    jQuery('body').removeClass('tp_showthumbsalways');
		    jQuery('.kenburn_thumb_container').css({
			'display': 'none'
		    });
		    setTimeout(function () {
		    jQuery('.kenburn_thumb_container').animate({
			'opacity': 0
		    }, {
		      duration: 300,
		      queue: false
		    });
		    }, 100);
		 });

		jQuery('body').addClass('tp_showthumbsalways');
		jQuery('.tthumb').click();
	    });

	</script>

<script src="{{ directorio }}chosen/chosen.jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ directorio }}chosen/chosen.css"/>
<script type="text/javascript">

    $(document).ready(function() {
        $('select').chosen();
    });
</script>
<link type="text/css" href="{{ directorio }}css/jquery.datepick.css" rel="stylesheet">
<link type="text/css" href="{{ directorio }}css/form_sus.css" rel="stylesheet">
<script type="text/javascript" src="{{ directorio }}js/jquery.datepick.js"></script>
<script type="text/javascript" src="{{ directorio }}js/jquery.datepick-es.js"></script>
<script type="text/javascript">
$(function() {
	$('#popupDatepicker').datepick();
	$('#inlineDatepicker').datepick({onSelect: showDate});
});

function showDate(date) {
	alert('The date chosen is ' + date);
}
</script>
<style>
#id_captcha_1:focus {
border-color: rgb(102, 175, 233);
outline: 0px none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
#id_captcha_1{
display: inline;
height: 34px;
padding: 6px 12px;
font-size: 10px;
line-height: 1.42857;
color: rgb(85, 85, 85);
vertical-align: middle;
background-color: rgb(255, 255, 255);
background-image: none;
border: 1px solid rgb(204, 204, 204);
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
width:200px;
}
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:260px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #B0AEAE;
  height: 33px;
  line-height: 33px;
  text-align: center;
  visibility: hidden;
  border-radius: 7px;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 0; height: 0;
  border-right: 12px solid #B0AEAE;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.6;
  left: 100%;
  top: 50%;
  margin-top: -16.5px;
  margin-left: 15px;
  z-index: 999;
}

    </style>

  </body>
</html>
