<nav class="ink-navigation hide-small hide-medium ie7 sticky">
    <ul class="menu horizontal shadowed grey">
        <li class=><a href="{% url 'inicio' %}"><img height="30" src="/main/static/images/logo_suscerte.png"></a> </li>
        <div class="push-right">
            {% if user.is_authenticated %}
            <li><a class="scrollableLink" href="{% url 'info_personal' %}">Perfil</a></li>
                {% ifequal user.groups.all.0.name 'Operador' %}
                <li><a class="scrollableLink" href="#">Acciones<i class="icon-caret-down"></i></a>
                    <ul class="submenu">
                        <li><a class="small" href="{% url 'curriculum' %}">Nuevo aspirante</a></li>
                    </ul>
                </li>
                {% endifequal %}
                {% ifnotequal user.groups.all.0.name 'Operador' %}
                <li><a class="scrollableLink" href="#">Currículum <i class="icon-caret-down"></i></a>
                    <ul class="submenu">
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#educacion">Educativos</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#laboral">Laboral</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#certificacion">Certificaciones</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#competencias">Competencias</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#habilidades">Habilidades</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#otros_conocimientos">Conocimientos</a></li>
                        <li><a class="small scrollableLink" href="{% url 'perfil' %}#idioma">Idiomas</a></li>
                        {% if requisitos %}
                            <li><a class="small scrollableLink" href="{% url 'citas' %}">Citas</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endifnotequal %}
            {% endif %}
            <li><a class="scrollableLink" href="#">Configuración <i class="icon-caret-down"></i></a>
                <ul class="submenu">
                {% if user.is_authenticated %}
                    {% if user.is_staff  %}
                        <li><a class="small" href="/admin">Panel administrativo</a></li>
                    {% endif %}
                    <li><a class="small" href="{% url 'cambiar_clave' %}">Cambiar contraseña</a></li>
                    <li><a class="small" href="{% url 'salir' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a class="small" href="/admin">Panel administrativo</a></li>
                {% endif %}
                </ul>
            </li>
        </div>
    </ul>
</nav>


<nav class="ink-navigation ink-grid hide-all show-medium show-small">
    <ul class="menu horizontal shadowed grey">
        <li class="title">
        
            <a href="/"><img height="30" src="/main/static/images/logo_suscerte.png"></a> 
        </li>           
        <li class="push-right">           
            <a class="toggle push-right" data-target="#topbar_menu"><span class="icon-reorder icon-large"></span></a>
        </li>           
    </ul>

    <ul class="menu vertical flat gray hide-all" id="topbar_menu">
    <div class="push-right">
        {% if user.is_authenticated %}
            <li><a class="scrollableLink" href="{% url 'info_personal' %}">Perfil</a></li>
            {% ifnotequal user.groups.all.0.name 'Operador' %}
            <li><a class="scrollableLink" href="{% url 'cambiar_clave' %}">Currículum <i class="icon-caret-down"></i></a>
                <ul class="submenu">
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#educacion">Educativos</a></li>
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#laboral">Laboral</a></li>
                    <li><a class="small scrollableLink" href="{% url 'perfil' %}#certificacion">Certificaciones</a></li>
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#competencias">Competencias</a></li>
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#habilidades">Habilidades</a></li>
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#conocimiento">Conocimientos</a></li>
                    <li><a class="scrollableLink" href="{% url 'perfil' %}#idioma">Idiomas</a></li>
                    {% if requisitos %}
                        <li><a class="small scrollableLink" href="{% url 'citas' %}">Citas</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endifnotequal %}
        {% endif %}
        <li><a class="scrollableLink" href="#">Configuración <i class="icon-caret-down"></i></a>
            <ul class="submenu">
            {% if user.is_authenticated %}
                {% ifequal user.groups.all.0.name 'Operador' %}
                <li><a class="small" href="{% url 'curriculum' %}">Nuevo aspirante</a></li>
                {% endifequal %}
                {% if user.is_staff %}
                    <li><a class="small" href="/admin">Panel administrativo</a></li>
                {% endif %}
                <li><a class="small" href="{% url 'cambiar_clave' %}">Cambiar contraseña</a></li>
                <li><a class="small" href="{% url 'salir' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a class="small" href="/admin">Panel administrativo</a></li>
            {% endif %}
            </ul>
        </li>
    </div>
    </ul>
</nav>
